<h1>Listing Courses</h1>
<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @subjects.each do |subject| %>
      <tr onclick="location.href='<%= admin_subject_path(subject) %>'" style='cursor:pointer'>
        <td><%= subject.name %></td>
        <td><%= link_to 'Edit', edit_admin_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', [:admin, subject], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New Subject', new_admin_subject_path, class:"button success" %>
