<ul class="left">
  <% if current_user %>
    <li><%= link_to t(:menu_problems), problems_path(locale: params[:locale]) %></li>
    <li><%= link_to t(:menu_attempts), attempts_path(locale: params[:locale]) %></li>
    <li><%= link_to t(:menu_assignments), assignments_path(locale: params[:locale]) %></li>
  <% end %>
</ul>

<ul class="right">
  <li class="locales">
    <% if I18n.locale == :en %>
      <%=link_to( "Español", url_for(:locale=>'es'), :class => "locale_setter") %>
    <% else %>
      <%=link_to( "English", url_for(:locale=>'en'), :class => "locale_setter") %>
    <% end %>
  </li>
  <% if current_user %>
    <li class="has-dropdown">
      <%= link_to current_user.display_name, "#" %>
      <ul class="dropdown">
        <% if current_user.admin? %>
          <li><%= link_to "Admin View", admin_problems_path(locale: "en") %></li>
        <% end %>
        <% if current_user.teacher? %>
          <li><%= link_to "Teacher View", teacher_groups_path(locale: "en") %></li>
        <% end %>
        <li><%= link_to(t(:menu_edit), edit_user_registration_path(locale: params[:locale])) %></li>
        <li><%= link_to(t(:menu_logout), destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </li>
  <% else %>
    <li class="login show-for-small inline-login">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.text_field :num, :placeholder=>t(:studentID), :class=>"input username" %>
        <%= f.password_field :password, :placeholder=>t(:password), :class=>"input password"  %>
        <%= f.submit t(:sign_in), :class=>"button tiny round" %>
      <% end %>
    </li>
    <li class="has-dropdown hide-for-small">
      <%= link_to t(:menu_login), "#" %>
      <ul class="dropdown login-dropdown login-form">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <li><%= f.text_field :num, :placeholder=>t(:studentID), :class=>"input username" %></li>
          <li><%= f.password_field :password, :placeholder=>t(:password), :class=>"input password"  %></li>
          <li><%= f.submit t(:sign_in), :class=>"button tiny round" %></li>
          <li><%= link_to t(:register), new_user_registration_path(locale: params[:locale]) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
