<%= devise_error_messages! %>
<div id="wrapper2">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<div class="upper">
		<h1><%=t :menu_edit %></h1>
		<%= image_tag("tec_logo.png", size: "240x100", class:"logo_tec") %>
	</div>

	<div class="content">
		<span>Please edit your registration</span><br />
		<%= f.email_field :email, :class=>"input username"  %>
		
		<%= f.password_field :current_password, :placeholder=>"Current Password", :class=>"input password" %>
		<br />

		<%= f.password_field :password, :placeholder=>"New Password", :class=>"input password" %>
	  	<%= f.password_field :password_confirmation, :placeholder=>"Please input your new password again", :class=>"input password" %>
		
	</div>
	
	<div class="footer">
		<div><%= f.submit "Update", :class=>"button"   %></div>
	<% end %>
	</div>

</div>
