<%= form_tag(use_toolkit_problem_path, :method=>'get', :remote=>true, :class => "custom", :id => "toolkit") do %>
  <div class="row">
    <%= hidden_field_tag "channel", "/#{current_user.id}/#{@problem.id}"%>
    <div class="twelve columns">
      <%= label_tag "input", "#{t(:toolkit_input)}:" %>
      <%= text_area_tag "input", "", :size=>"70x10" %>
    </div>
    <div class="nine columns">
      <div class="row">
        <div class="one columns centered">
          <i class="icon-spinner icon-spin icon-3x" id="toolkit-loading"></i>
        </div>
      </div>
    </div>
    <div class="three columns">
      <%= submit_tag "#{t :submit}", :class => "button right" %>
    </div>
    <div class="twelve columns">
      <%= label_tag "output", "#{t :toolkit_output}:" %>
      <%= text_area_tag "output", "", :size=>"70x10", :disabled=>true %>
    </div>
  </div>
<% end %>
<script>
  Danthes.debug = true;
</script>
<%= subscribe_to "/#{current_user.id}/#{@problem.id}" %>
<script>
  Danthes.subscribe("/<%=current_user.id%>/<%=@problem.id%>", function(data, channel) {
    $('#output').html(data.result);
    $("#toolkit-loading").hide();
    $("input[type=submit]").attr("disabled",false);
  });
</script>
