<%= form_tag(use_toolkit_problem_path, :method=>'get', :remote=>true) do %>

<div>
	<p>Ingresa las entradas que quieres probar:</p>

	<%= text_area_tag "input", "", :size=>"50x8" %>

	<%= submit_tag 'Submit' %>

	<p>Salida:</p> <%= @resultado %>
	<%= text_area_tag "output", "", :size=>"50x8", :disabled=>true %>

</div>


<% end %>