<script type="text/javascript">
$(document).ready(function() {
    oTable = $('.data_table').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
	"bDestroy":true,
	 "oLanguage": {
		<% if  "#{t :locale}" == "en" %>
               	    	"sUrl":     "/assets/dataTables.english.txt"
		<% else %>
			"sUrl":     "/assets/dataTables.spanish.txt"
		<% end %>
            }
    });
    $('.data_table').css('width', '');
} );
</script>


<h3><%=t :listing %></h3>
<hr/>
<div id="table_container">
  <table class="data_table">
  <thead>
  <tr>
    <th><%=t :prob_title %></th>
    <th>ID</th>
    <th><%=t :prob_type %></th>
  </tr>
  </thead>
  <tbody>
<% @problems.each do |problem| %>
  <tr onclick="location.href='<%= problem_path(problem) %>'" style='cursor:pointer'>
    <td><%=  problem.title %></td>
    <td><%=  problem.id %></td>
    <td><%=  problem.type_list %></td>
  </tr>
<% end %>
  </tbody>
</table>
