  <h3>
    <%= @problem.title %>
  </h3>
  <hr/>
  <div id="left">
    <div id="problem_info" class="tabs-bottom">
      <ul>
        <li><a href="#tabs-1">Description</a></li>
        <li><a href="#tabs-2">Toolkit</a></li>
      </ul>
      <div id="tabs-1">
        <p><%= raw(@problem.description) %></p>
      </div>
      <div id="tabs-2">
        <p><%= render "toolkit" %></p>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="problem_attempt" class="tabs-bottom">
      <ul>
        <li><a href="#tabs-0">New Attempt</a></li>
        <% @user_problem_attempts.each_with_index do |attempt, i|  %>
          <li id='tabs<%=i+1%>'><a href="#tabs-<%=i+1%>">Attempt #<%=i+1%>
          </a></li>
        <% end %>
      </ul>
      <div id="tabs-0">
        <%= render "attempts/form" %>
      </div>
      <% @user_problem_attempts.each_with_index do |attempt, i|  %>
        <div id="tabs-<%=i+1%>">
          <div>
            <p><%= attempt.outcome %></p>

            <p>
              <%if attempt.outcome.strip == "ACEPTADO" %>
              <div id="aceptado" class="respuesta">
              <%= image_tag "verde.ico" %><div id="outcome">Congratulations!</div>
              <p class="descripcion">Your code worked just as expected, good work!</p>
              </div>

              <% elsif attempt.outcome.strip == "RECHAZADO" %>
              <div id="rechazado" class="respuesta">
              <%= image_tag "magenta.ico" %><div id="outcome">Wrong Answer!</div>
              <p class="descripcion">We are sorry, your solution didn't worked the way it needed to.</p>
              </div>

              <%elsif attempt.outcome.strip == "TIEMPO EXCEDIDO" %>
              <div id="error" class="respuesta">
              <%= image_tag "ambar.ico" %><div id="outcome"><%= attempt.outcome %></div>
              <p class="descripcion">Tu solución tardó más tiempo del permitido.</p>
              </div>

              <% else %>
              <div id="error" class="respuesta">
              <%= image_tag "ambar.ico" %><div id="outcome">Compilation Error</div>
              <p class="descripcion">We are sorry, your code couldn't be compiled succesfuly.</p>
              </div>
              <%end%>
            </p>

            <a href="#<%=i+1%>info" rel="facebox">View Attempt Code</a>
            <div id="<%=i+1%>info" style="display:none"><%= raw(CodeRay.scan(attempt.show_code, attempt.language).div(line_numbers: :table)) %></div>
          </div>
        </div>
      <% end %>
    </div>
