<div id="problem_container">
  <h3 id="title">
    <%= @problem.title %>
  </h3>
  <hr/>
  <div id="problem_info" class="tabs-bottom">
    <ul>
      <li><a href="#tabs-1">Description</a></li>
      <li><a href="#tabs-2">Sample I/O</a></li>
      <li><a href="#tabs-3">Toolkit</a></li>
    </ul>
    <div id="tabs-1">
      <p><%= @problem.description %></p>
    </div>
    <div id="tabs-2">
      <p>Sample I/O</p>
    </div>
    <div id="tabs-3">
      <p>TOOLKIT!!</p>
    </div>
  </div>
  <div id="problem_attempt" class="tabs-bottom">
    <ul>
      <li><a href="#tabs-0">New Attempt</a></li>
      <% @user_problem_attempts.each_with_index do |attempt, i|  %>
        <li id='tabs<%=i+1%>'><a href="#tabs-<%=i+1%>">Attempt #<%=i+1%>
        <%= link_to 'Delete', attempt, :confirm => 'Are you sure?', :method => :delete%>
        </a></li>
      <% end %>
    </ul>
    <div id="tabs-0">
      <%= render "attempts/form" %>
    </div>
    <% @user_problem_attempts.each_with_index do |attempt, i|  %>
      <div id="tabs-<%=i+1%>">
        <div>
          <p><%= raw(CodeRay.scan(attempt.show_code, attempt.language).div(line_numbers: :table)) %></p>
        </div>
      </div>
    <% end %>
</div>
