  <h3>
    <%= @problem.title(params[:title]) %>
  </h3>
  <hr/>
  <div id="left">
    <div id="problem_info" class="tabs-bottom">
      <ul>
        <li><a href="#tabs-1"><%=t :prob_description %></a></li>
        <li><a href="#tabs-2"><%=t :toolkit %></a></li>
      </ul>
      <div id="tabs-1">
        <p><%= raw(@problem.descriptions.find_by_locale(params[:locale]).text_content) %></p>
      </div>
      <div id="tabs-2">
        <p><%= render "toolkit" %></p>
      </div>
    </div>
  </div>
  <div id="right">
    <div id="problem_attempt" class="tabs-bottom">
      <ul>
        <li><a href="#tabs-0"><%=t :prob_newA %></a></li>
        <% @user_problem_attempts.each_with_index do |attempt, i|  %>
          <li id='tabs<%=i+1%>'><a href="#tabs-<%=i+1%>"><%=t :attempt %> #<%=@num_attempts-i%>
          </a></li>
        <% end %>
      </ul>
      <div id="tabs-0">
        <%= render "attempts/form" %>
      </div>
      <% @user_problem_attempts.each_with_index do |attempt, i|  %>
        <div id="tabs-<%=i+1%>">
          <div>

            <p>
              <%if attempt.outcome.strip == "ACEPTADO" %>
              <div id="aceptado" class="respuesta">
              <%= image_tag "verde.ico" %><div id="outcome"><%=t :outcome_accept %></div>
              <p class="descripcion"><%=t :outcome_accept_text %></p>
              </div>

              <% elsif attempt.outcome.strip == "RECHAZADO" %>
              <div id="rechazado" class="respuesta">
              <%= image_tag "magenta.ico" %><div id="outcome"><%=t :outcome_fail %></div>
              <p class="descripcion"><%=t :outcome_fail_text %></p>
              <br />
              <br />
              <br />
 	            <%=t :attempt_feedback %>
              <%= raw(attempt.get_feedback) %>
              </div>

              <%elsif attempt.outcome.strip == "Tiempo excedido\nRECHAZADO" %>
              <div id="error" class="respuesta">
              <%= image_tag "ambar.ico" %><div id="outcome"><%=t :outcome_timeout %></div>
              <p class="descripcion"><%=t :outcome_timeout_text %></p>
              </div>

              <% else %>
              <div id="error" class="respuesta">
              <%= image_tag "ambar.ico" %><div id="outcome"><%=t :outcome_uncompile %></div>
              <p class="descripcion"><%=t :outcome_uncompile_text %></p>
              </div>
              <%end%>
            </p>
            <%= link_to_function (t :attempt_code), "$.facebox({ ajax: '#{attempt_path(attempt)}' })", :class => "nav_link" %>
          </div>
        </div>
      <% end %>
    </div>
