<h3>
  <%= @problem.title(params[:locale]) %>
</h3>
<hr/>
<div class="row">
  <div class="six columns">
    <dl class="tabs">
      <dd class="active"><a href="#simple1"><%= t :prob_description %></a></dd>
      <dd><a href="#simple2"><%= t :toolkit %></a></dd>
    </dl>
    <div class="description-container">
      <ul class="tabs-content">
        <li class="active" id="simple1Tab"><%= raw(@problem.descriptions.find_by_locale(params[:locale]).text_content) %></li>
        <li id="simple2Tab"><%= render "toolkit" %></li>
      </ul>
    </div>
  </div>

  <div class="six columns">
    <dl class="tabs">
      <dd class="active"><a href="#attempt"><%= t :prob_newA %></a></dd>
      <% @user_problem_attempts.each_with_index do |attempt, i|  %>
        <dd><a href="#attempt<%=i+1%>"><%=t :attempt %> #<%=@num_attempts-i%></a></dd>
      <% end %>
    </dl>
    <div class="attempts-container">
      <ul class="tabs-content">
        <li id="attemptTab" class="active">
          <%= render "attempts/form" %>
        </li>
        <% @user_problem_attempts.each_with_index do |attempt, i|  %>
          <li id="attempt<%=i+1%>Tab">
            <div>
              <p>
                <%if attempt.outcome.strip == "ACEPTADO" %>
                  <div id="aceptado" class="respuesta">
                    <%= image_tag "verde.ico" %><div id="outcome"><%=t :outcome_accept %></div>
                    <p class="descripcion"><%=t :outcome_accept_text %></p>
                  </div>

                <% elsif attempt.outcome.strip == "RECHAZADO" %>
                  <div id="rechazado" class="respuesta">
                    <%= image_tag "magenta.ico" %><div id="outcome"><%=t :outcome_fail %></div>
                    <p class="descripcion"><%=t :outcome_fail_text %></p>
                    <br />
                    <br />
                    <br />
                    <%=t :attempt_feedback %>
                    <%= raw(attempt.get_feedback) %>
                  </div>

                <%elsif attempt.outcome.strip == "Tiempo excedido\nRECHAZADO" %>
                  <div id="error" class="respuesta">
                    <%= image_tag "ambar.ico" %><div id="outcome"><%=t :outcome_timeout %></div>
                    <p class="descripcion"><%=t :outcome_timeout_text %></p>
                  </div>

                <% else %>
                  <div id="error" class="respuesta">
                    <%= image_tag "ambar.ico" %><div id="outcome"><%=t :outcome_uncompile %></div>
                    <p class="descripcion"><%=t :outcome_uncompile_text %></p>
                  </div>
                <%end%>
              </p>
              <%= link_to_function (t :attempt_code), "$.facebox({ ajax: '#{attempt_path(attempt)}' })", :class => "nav_link" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div> <%#columns %>
</div> <%# row %>
