<%= form_for([:admin, @admin_problem]) do |f| %>
  <% if @admin_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_problem.errors.count, "error") %> prohibited this admin_problem from being saved:</h2>

      <ul>
      <% @admin_problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <%= f.fields_for :titles do |tf|%>
      <div class="six mobile-two columns">
        <%= tf.label :text_content, "Tittle in #{humanized_language(tf.object.locale)}" %>
        <%= tf.text_field :text_content %>
        <%= tf.hidden_field :locale, :value => tf.object.locale%>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <%= f.fields_for :descriptions do |df|%>
      <div class="six mobile-two columns">
        <%= df.label :text_content, "Description in #{humanized_language(df.object.locale)}" %>
        <%= df.text_area :text_content %>
        <%= df.hidden_field :locale, :value => df.object.locale%>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="one columns">
      <%= f.label :topic_ids, "Topics" %>
    </div>
    <div class="eleven mobile-three columns">
    <% Topic.all.each do |topic| %>
      <%= label_tag 'problem[topic_ids][]', "#{check_box_tag 'problem[topic_ids][]', topic.id, @admin_problem.topics.include?(topic)} #{topic.name}".html_safe, :style=>"display:inline;" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= f.label :time%>
      <%= f.number_field :time, :min=>0 %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
