<div class="twelve columns">
  <div class="row">
    <div class="twelve columns">
      <h1>Listing problems</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <%= link_to 'New Problem', new_admin_problem_path, :class=>"button" %>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="twelve columns">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Difficulty</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @admin_problems.each do |admin_problem| %>
          <tr>
            <td><%= admin_problem.title(params[:locale]) %></td>
            <td><%= admin_problem.dificulty %></td>
            <td><%= link_to 'Show', [:admin, admin_problem] %></td>
            <td><%= link_to 'Edit', edit_admin_problem_path(admin_problem) %></td>
            <td><%= link_to 'Destroy', [:admin, admin_problem], confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
