<h1>Listing problems</h1>
<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Dificulty</th>
        <th>Active</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <% @admin_problems.each do |admin_problem| %>
      <tr>
        <td onclick="location.href='<%= admin_problem_path(admin_problem) %>'" style="cursor:pointer"> <%= admin_problem.title(params[:locale]) %></td>
        <td><%= admin_problem.dificulty %></td>
        <td><%= admin_problem.active? %></td>
        <td><%= link_to 'Edit', edit_admin_problem_path(admin_problem) if can? :update, admin_problem %></td>
        <td><%= link_to 'Destroy', [:admin, admin_problem], confirm: 'Are you sure?', method: :delete if can? :destroy, admin_problem %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />
<%= link_to 'New Problem', new_admin_problem_path, :class=>"button success" %>
