<%= render :partial => "problem_info" %>

<div>
  <%= link_to 'Edit', edit_admin_problem_path(@problem), class: "button round small" %> |
  <%= link_to 'Back', admin_problems_path, class: "button round small" %>
</div>
<div id="modal-code-main" class="reveal-modal expand reveal-problem-code">
  <div class="problem-code">
    <%= raw(CodeRay.scan(@problem.main, @problem.command.name.downcase.to_sym).div(line_numbers: :table)) %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="modal-code-method" class="reveal-modal expand reveal-problem-code">
  <%= raw(CodeRay.scan(@problem.method, @problem.command.name.downcase.to_sym).div(line_numbers: :table)) %>
  <a class="close-reveal-modal">&#215;</a>
</div>
