<fieldset class="inputs">

	<b> Title: </b><%= @problem.title %>
	<br />

	<%= form_tag(upload_created_admin_problem_path) do %>
	
	<table id="feedback_table">
		<tr id="feedback_head">
			<th>Line</th>
			<th>Feedback Comment</th>
		</tr>

		<% aux = 1%>
		<% @out.each_with_index do |line,i| %>

		<% if (i%2) == 0 %>
			<tr class="feedback_even">
		<% else %>
			<tr class="feedback_odd">
		<% end %>


			<td>
				<%= line %>
			</td>
			<td id='<%= "comment_#{i}" %>' >
				<%= text_field_tag i %>
			</td>
		</tr>
		<% end %>
	</table>
	<br/>
	<%= hidden_field_tag 'lines', @out.length %>
	<%= submit_tag "Create " %>
	<% end %>

</fieldset>


