<% if user_signed_in? %>
	<h3 id="menuTitulo"> Nombre </h3>
<% else %>
	<h3 id="menuTitulo">Menú</h3>
<% end %>
<ul class="botones">
<li class="botones">Inicio</li>
<li class="botones">Lista de Problemas</li>
<% if user_signed_in? %>
  <li class="botones">Subir Solución</li>
  <li class="botones"><%= link_to('Editar perfil', edit_user_registration_path) %></li>
  <li class="botones"><%=link_to "Historial", attempts_path, :class=>"botones "+(@tab=="hist"? "botonon" : "botonoff")%></li>
  <%if current_user.teacher?  %>
	<li class="botones">Crear Problema</li>
    <li class="botones">Grupos</li>
    <li class="botones">Últimas Actualizaciones</li>

    <li class="botones"><%= link_to "Administrar", admin_dashboard_path if current_user.try(:teacher?) %></li>
    
  <%end%>
    <li class="botones"><%= link_to('Salir', destroy_user_session_path, :method => :delete) %></li>
<% else %>
<li class="botones"><%=link_to "Entrar", new_user_session_path, :class=>"botones "+(@tab=="entrar"? "botonon" : "botonoff")%></li>
<li class="botones"><%=link_to "Registro", new_user_registration_path, :class=>"botones "+(@tab=="registroU"? "botonon" : "botonoff")%></li>
<%end%>
</ul>

