<div class="row">
  <div class='panel eight columns centered' id="devise-form">
    <div class="row">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert-box #{key}") do %>
          <%= value %>
          <%= content_tag(:a,"x", class:"close") %>
        <% end %>
      <% end %>
    </div>
    <div id="wrapper2">
      <%= form_for(resource, :as => resource_name, :url => edit_password_path(resource_name), :html => { :method => :get }) do |f| %>
        <div class="upper">
          <h1><%=t :forgot_password %></h1>
          <%= image_tag("tec_logo.png", size: "240x100", class:"logo_tec") %>
        </div>

        <div class="five columns centered">
          <div class="content">
            <%= f.text_field :num, :placeholder=>"#{t :studentID}", :class=>"input username" %>
            <%= f.email_field :email, :placeholder=>"mail@mail.com", :class=>"input username" %>
            <div class="locale_container">
              <% if I18n.locale == :en %>
                <%=link_to "Spanish", :locale=>'es' %>
              <% else %>
                <%=link_to "Inglés" , :locale=>'en' %>
              <% end %>
            </div>
          </div>

        <div class="footer">
          <div>
            <%= f.submit "#{t :reset}", :class=>"button" %>
          </div>
          <div class="back-link">
            <%= link_to "Back", root_path %>
          </div>
        <% end %>
      </div>
    </div>

    </div>
  </div>
</div>
