<%= devise_error_messages! %>
<div id="wrapper2">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<div class="upper">	
		<h1><%=t :forgot_password %></h1>
		<%= image_tag("tec_logo.png", size: "240x100", class:"logo_tec") %>
	</div>
	
	<div class="content">
		<span><%=t :session_password %></span><br />
		<%= f.text_field :num, :placeholder=>"#{t :studentID}", :class=>"input username" %>
		<%= f.email_field :email, :placeholder=>"mail@mail.com", :class=>"input username" %>
		<div class="flags_container">
			<%=link_to( image_tag("english.png", size: "30x18", class:"flags_pass") , :locale=>'en') %>
			<%=link_to( image_tag("spanish.gif",  size: "30x18", class:"flags_pass") , :locale=>'es') %>
		</div>
	</div>
	
	<div class="footer">
		<div><%= f.submit "#{t :reset}", :class=>"button" %></div>
		<%= link_to "#{t :sign_in_page}", new_user_session_path, :class=>"register" %>
		<%= link_to "#{t :register}", new_user_registration_path, :class=>"register" %>
	<% end %>
	</div>

</div>