<%= form_for([:teacher, @group, @assignment], :html=>{:class=>"custom"}) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve mobile-four columns">
      <%= f.text_field :title, :placeholder => "Title" %>
    </div>
  </div>
  <div class="row">
    <div class="six mobile-two columns">
      <%= f.label :problem %>
      <%= f.select :problem_id, options_from_collection_for_select(Problem.active.all, 'id', "title")%>
    </div>
    <div class="six mobile-two columns">
      <%= f.label :due_date %>
      <%= f.date_select :due_date, :order => [:day, :month, :year] %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
