<h1>Listing Assignments by Group</h1>
<div id="table_container">
  <% current_user.groups.each do |group| %>
    <div class="panel">
    <%= group.name %>
    <hr />
    <% if group.assignments.count > 0 %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% group.assignments.each do |assignment| %>
          <tr>
            <td><%= assignment.title %></td>
            <td><%= link_to 'Show', [:admin, assignment] %></td>
            <td><%= link_to 'Edit', edit_admin_assignment_path(assignment) %></td>
            <td><%= link_to 'Destroy', [:admin, assignment], confirm: 'Are you sure?', method: :delete %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to 'New Assignment', new_admin_assignment_path(group:group), class:"button success"  %>
    </div>
  <% end %>
</div>
<br />
