<h1>Listing admin_assignments</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_assignments.each do |admin_assignment| %>
  <tr>
    <td><%= admin_assignment.title %></td>
    <td><%= link_to 'Show', [:admin, admin_assignment] %></td>
    <td><%= link_to 'Edit', edit_admin_assignment_path(admin_assignment) %></td>
    <td><%= link_to 'Destroy', [:admin, admin_assignment], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_admin_assignment_path %>
