<h1>Listing admin_assignments</h1>
<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @admin_assignments.each do |admin_assignment| %>
      <tr>
        <td><%= admin_assignment.title %></td>
        <td><%= link_to 'Show', [:admin, admin_assignment] %></td>
        <td><%= link_to 'Edit', edit_admin_assignment_path(admin_assignment) %></td>
        <td><%= link_to 'Destroy', [:admin, admin_assignment], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New Assignment', new_admin_assignment_path, class:"button success"  %>
