<h1>Listing compilers</h1>

<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Compile command</th>
        <th>Run command</th>
        <th>Run extension</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @commands.each do |command| %>
        <tr>
          <td><%= command.name %></td>
          <td><%= command.compile_command %></td>
          <td><%= command.run_command %></td>
          <td><%= command.run_extension %></td>
          <td><%= command.description %></td>
          <td><%= link_to 'Show', [:admin, command] %></td>
          <td><%= link_to 'Edit', edit_admin_command_path(command) %></td>
          <td><%= link_to 'Destroy', [:admin, command], confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br />

<%= link_to 'New Compiler', new_admin_command_path, class: "button success" %>
