<div class="row">
  <div class="six columns">
    <div class="panel">
      <h3 class="subheader text-center">Titles</h3>
      <% @problem.titles.each do |title| %>
        <div class="problem-title">
          <%= humanized_language(title.locale) %>: <%= title.text_content %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="six columns">
    <div class="panel">
      <h3 class="subheader text-center">Descriptions</h3>
      <% @problem.descriptions.each do |description| %>
        <div class="problem-description">
          <%= humanized_language(description.locale) %>: <%= raw description.text_content %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="panel other-container">
      <h3 class="subheader text-center">Other</h3>
      <div class="time">
        Time: <%= @problem.time %>
      </div>
      <div class="difficulty">
        Difficulty: <%= @problem.dificulty %>
      </div>
      <div class="language">
        Language: <%= @problem.command.name %>
      </div>
      <br />
      <div class="main">
        <div class="row">
          <span>Main:</span>
          <%= link_to "Show Main", "#", class: "button", "data-reveal-id" => "modal-code-main", "data-animation" => "fade" %>
        </div>
      </div>
      <% unless @problem.method.blank?  %>
        <br />
        <div class="method">
          <div class="row">
            <span>Method:</span>
            <%= link_to "Show Method", "#", class: "button", "data-reveal-id" => "modal-code-method", "data-animation" => "fade" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="six columns">
    <div class="panel">
      <h3 class="subheader text-center">Cases</h3>
      <% @problem.cases.each do |prob_case| %>
        <div class="case callout panel">
          <div class="input">
            Input: <%= prob_case.input %>
          </div>
          <div class="output">
            Output: <%= prob_case.output %>
          </div>
          <div class="feedbacks">
            <% prob_case.feedbacks.each do |feedback| %>
              <div class="feedback">
                Feedback in <%= humanized_language(feedback.locale) %>: <%= feedback.text_content %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Back', teacher_problems_path, class: "button round small" %>
</div>
<div id="modal-code-main" class="reveal-modal expand reveal-problem-code">
  <div class="problem-code">
    <%= raw(CodeRay.scan(@problem.main, @problem.command.name.downcase.to_sym).div(line_numbers: :table)) %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="modal-code-method" class="reveal-modal expand reveal-problem-code">
  <%= raw(CodeRay.scan(@problem.method, @problem.command.name.downcase.to_sym).div(line_numbers: :table)) %>
  <a class="close-reveal-modal">&#215;</a>
</div>
