<p id="notice"><%= notice %></p>
<h3>Group: <%= @group.name %></h3>
<hr />
<div class="row">
  <div class="six mobile-four columns">
    <ul class="accordion">
    <h5>Assignments: <%= link_to 'New Assignment', new_teacher_group_assignment_path(@group), class: "button success tiny" %></h5> 
    <% @group.assignments.includes(:users).each do |assignment| %>
      <li>
        <div class="title">
          <div class="row">
            <div class="ten columns">
              <%= assignment.title %>
            </div>
            <div class="one columns end">
              <%= link_to "<i class=\"icon-remove-sign icon icono-fail\"></i>".html_safe, [:teacher, @group, assignment], confirm: 'Are you sure?', method: :delete %>
            </div>
          </div>
        </div>
        <div class="content">
          <table width="100%">
            <thead>
              <tr>
                <th width="75%">Student</th>
                <th width="25%">Completed</th>
              </tr>
            </thead>
            <tbody>
            <% assignment.users.each do |user| %>
              <tr>
                <td onclick="window.open('<%= teacher_group_assignment_path(@group, assignment, :user_id => user) %>', '_blank')" style='cursor:pointer'"><%= user.num %></td>
                <td>
                  <% if assignment.accepted_for_user?(user) %>
                    <i class="icon-ok-sign icon-2x icono-accept"></i>
                  <% else %>
                    <i class="icon-remove-sign icon-2x icono-fail"></i>
                  <% end%>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
  <div class="six mobile-four columns">
    <ul class="accordion">
    <h5>Students:</h5>
    <% @group.users.with_assignments_from_group(@group).each do |user| %>
      <li>
        <div class="title">
          <%= user.num %>
        </div>
        <div class="content">
          <table width="100%">
            <thead>
              <tr>
                <th width="75%">Name</th>
                <th width="25%">Completed</th>
              </tr>
            </thead>
            <tbody>
            <% user.assignments.each do |assignment| %>
              <tr>
                <td onclick="window.open('<%= teacher_group_assignment_path(@group, assignment) %>', '_blank')" style='cursor:pointer'"><%= assignment.title %></td>
                <td>
                  <% if assignment.accepted_for_user?(user) %>
                    <i class="icon-ok-sign icon-2x icono-accept"></i>
                  <% else %>
                    <i class="icon-remove-sign icon-2x icono-fail"></i>
                  <% end%>
                 </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<br />
    <%= link_to 'Edit', edit_teacher_group_path(@group) %> |
    <%= link_to 'Back', teacher_groups_path %>
