
<div id="wrapper2">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="upper">
<h1>Welcome to SEPAP</h1>
<%= image_tag("tec_logo.png", size: "240x100", class:"logo_tec") %>


</div>

<div class="content">
	<span>Please Sign In</span><br />
	  
	  <%= f.email_field :email, :placeholder=>"E-Mail", :class=>"input username" %>
	  
	  <div class="user-icon"></div>
	
	  
	  <%= f.password_field :password, :placeholder=>"Password", :class=>"input password"  %>
          <div class="pass-icon"></div>	
	
	  <% if devise_mapping.rememberable? -%>
	    <div><br /><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
 	  <% end -%>
</div>

<div class="footer">
	<div><%= f.submit "Sign in", :class=>"button" %></div>
	<%= link_to 'Register', new_user_registration_path, :class=>"register" %>
	<%= link_to 'Forgot your password?', new_user_password_path, :class=>"register" %>
	<% end %>
	
</div>
</div>