<div class="row">
  <div class="panel eight columns centered" id="devise-form">
    <div class="row">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, class: "alert-box #{key}") do %>
          <%= value %>
          <%= content_tag(:a,"x", class:"close") %>
        <% end %>
      <% end %>
    </div>
    <div id="wrapper2">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="upper">
          <h1><%=t :welcome %></h1>
          <%= image_tag("tec_logo.png", size: "240x100", class:"logo_tec") %>
        </div>

        <div class="five columns centered">
          <div class="content">

            <%= f.text_field :num, :placeholder=>"#{t :studentID}", :class=>"input username" %>
            <%= f.password_field :password, :placeholder=>"#{t :password}", :class=>"input password"  %>

            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %> <%=t :remember_me %>

              <div class="locale_container">
                <% if I18n.locale == :en %>
                  <%=link_to "Spanish", :locale=>'es' %>
                <% else %>
                  <%=link_to "Inglés" , :locale=>'en' %>
                <% end %>
              </div>
            <% end -%>
          </div>

          <div class="footer">
            <div>
              <%= f.submit "#{t :sign_in}", :class=>"button" %>
            </div>
            <div class="actions">
              <div class="register-link">
                <%= link_to "#{t :register}", new_user_registration_path(locale: params[:locale]), :class=>"register" %>
              </div>
              <div class="forgot-password-link">
                <%= link_to "#{t :forgot_password}", new_user_password_path(locale: params[:locale]), :class=>"register" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
