<%= form_for([:admin, @admin_group]) do |f| %>
  <% if @admin_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_group.errors.count, "error") %> prohibited this Group from being saved:</h2>

      <ul>
      <% @admin_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="fields">
    <%= f.label :period %>
    <%= f.select :period, options_for_select(Group::PERIODS) %>
  </div>

  <div class="fields">
    <%= f.label :subject %>
    <%= f.select :subject, options_from_collection_for_select(Subject.all, "id", "name") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
