<%= semantic_form_for [:admin, @group] do |f| %>
    <%= f.inputs :name => "Details" do %>
      <%= f.input :name %>
      <%= f.input :period, as: :select, collection: Group::PERIODS %>
      <%= f.input :subject %>
    <% end %>
    <%= f.inputs :name => "Members" do %>
      <%= image_tag "infoicon.png" ,size: "20x20", id: "infoMembers"%>
        <div style="position:relative">
          <span id="spInfoMembers", class="tooltip">
            Student IDs must be entered separated by commas and spaces. </br>
          </br>
            Example: </br>
            <code>
              A01087768, A01087554, A01087740
            </code>
          </span>
        </div>
      <%= f.input :members, as: :text %>
    <% end %>
    <% if !f.object.new_record? %>
      <%= f.has_many :enrollments do |enrollment| %>
        <%= enrollment.inputs "#{enrollment.object.user.try(:num)}" do %>
          <%= enrollment.input :_destroy, :as=>:boolean, :required => false, :label=>'Remove' %>
        <% end %>
      <% end %>
    <% end %>
    <%= f.buttons %>
<% end %>