<script>

  function showCode(id){
    var div = id+"info"
    var code = document.getElementById(div);
    var show = document.getElementById("showCode")
    show.innerHTML = "";
    show.innerHTML = code.innerHTML;

  }
</script>

<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th> Problem:
          <%= form_tag admin_group_path(params[:id]) , method: 'get' do %>
            <%problems_array = group.assignments.map{ |a| [a.problem.title, a.problem.id] }%>
            <%= select_tag 'problemToFind', options_for_select(problems_array),:include_blank => true%>
            <%= submit_tag("Search")%>
          <%end%>
        </th>
      </tr>
      <tr>
        <th> Num </th>
        <th> Number of Attempts </th>
        <th> Status </th>
        <th> Code </th>
        <th> Date of Last Attempt </th>
      </tr>
    </thead>
    <tbody>
      <% @group.users.each_with_index do |user, i| %>
        <tr>
          <td> <%= link_to(user.num, admin_user_path(user)) %></td>
          <td> <%= user.attempts.where(:problem_id=> params[:problemToFind]).count %></td>
          <td>
            <% if user.attempts.where(:problem_id=>  params[:problemToFind], :outcome=> "ACEPTADO").count >= 1 %>
              ACEPTADO
            <%else%>
              <%= user.attempts.where(:problem_id=>  params[:problemToFind]).order("created_at DESC").first.try(:outcome) %>
            <%end%>
          </td>
          <td>
            <%if user.attempts.where(:problem_id=>  params[:problemToFind]).count >= 1%>
              <!-- <a href="#<%=i+1%>info" rel="facebox" class="code" <%=t :attempt_code %></a> -->
              <%= link_to 'View Attempt Code', '#', :onclick => "showCode(#{i+1})"%>
            <%end%>
          </td>
          <td><%= user.attempts.where(:problem_id=>  params[:problemToFind]).order("created_at DESC").first.try(:created_at)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% @group.users.each_with_index do |user, i| %>
  <div id="<%=i+1%>info" style="display:none" class="code">
    <% if user.attempts.where(:problem_id=>  params[:problemToFind], :outcome=> "ACEPTADO").count >= 1 %>
      <% attempt = user.attempts.where(:problem_id=>  params[:problemToFind], :outcome=> "ACEPTADO").first %>
    <% else %>
      <% attempt = user.attempts.where(:problem_id=>  params[:problemToFind]).first %>
    <% end %>
    <%if !attempt.nil? %>
      <%= raw(CodeRay.scan(attempt.show_code, attempt.language).div(line_numbers: :table)) %>
    <%end%>
  </div>
  <div id= "showCode">
  </div>
<% end %>
