<div>
  <div>
    <div class="outcome">
      <!-- class_for_status is a helper in the attempts helper -->
      <i class="<%= class_for_status(attempt.state)%>"></i>
      <span><%=t "outcome_#{attempt.state}" %></span>
    </div>
    <br />
    <% if attempt.with_error?%>
      <p class="descripcion"><%=raw(t("outcome_#{attempt.state}_text", :error_message => attempt.error_message)) %></p>
    <% else %>
      <p class="descripcion"><%=t "outcome_#{attempt.state}_text" %></p>
    <% end %>
    <% if attempt.failed? %>
      <div class="feedback">
        <p> <%= t :attempt_feedback %> </p>
        <h5><%= attempt.get_wrong_results_count %> <%= t :attempt_of %> <%= attempt.results.count %> <%= t :attempt_didnt_pass %>:</h5>
        <% attempt.get_feedbacks(I18n.locale).each_with_index do |feedback, index| %>
          <strong><%= "#{index+1}:" %></strong>
          <% if feedback.get_result(attempt) %>
            <i class="icon-ok-sign icono-accept"></i>
          <% else %>
            <i class="icon-remove-sign icono-fail"></i>
            <%= feedback.text_content %>
          <% end %>
          <br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="show-code six columns centered">
    <%= link_to (t :attempt_code), attempt_path(attempt), :class => "button reveal" %>
  </div>
</div>
