<%= form_for([@assignment, @problem, @problem.attempts.build], :html=>{:class=>"custom"}) do |f| %>
  <div class="row">
    <% if @assignment.nil? and @assignments_for_problem %>
      <div class="six columns">
        <%= label_tag t('activerecord.models.assignment') %>
        <%= select_tag "assignment_id", options_from_collection_for_select(@assignments_for_problem, "id", "title"), :prompt => t(:select_assignment) %>
      </div>
    <% end %>
    <div class="six columns end">
      <%= f.label :command_id, t(:attempt_language) %>
      <%= f.select :command_id, options_from_collection_for_select(Command.all, "id", "name"), :include_blank => t(:select_language) %>
    </div>
    <div class="twelve columns" id="divSubir">
      <div id="attemptEditor"></div>
      <%= f.text_area :code, :style=>"border:none;box-shadow:none;" %>
    </div>
    <div class="nine columns">
      <div class="row">
        <div class="one columns centered">
          <i class="icon-spinner icon-spin icon-3x" id="attempt-loading"></i>
        </div>
      </div>
    </div>
    <div class="three columns">
      <%= f.submit "#{t :submit}", class: "button right" %>
    </div>
  </div>
<% end %>
