<%= form_for(@attempt) do |f| %>
  <% if @attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attempt.errors.count, "error") %> prohibited this attempt from being saved:</h2>

      <ul>
      <% @attempt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :problem_id, 'Número de problema' %><br />
    <%= f.text_field :problem_id, :size => 6, :value=>@numero%>
  </div>
  <div class="field">
  	Lenguaje
  	<br />
    <select id="language" name="language">
        <option>C/C++</option>
	<option>C#</option>
        <option>Java</option>
	<option>Python</option>
	<option>Ruby</option>
    </select> 
  </div>


  <div class="field" id="divSubir">
  	<fieldset>
  		<legend>
  			<%= f.label :code, 'Código fuente' %>
  		</legend>
			<br />
			<%= f.file_field :code %>
	</fieldset>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
