<%= form_for([@problem, @problem.attempts.build]) do |f| %>
  <div class="field">
    <%=t :attempt_language %>
    <br />
    <select id="language" name="language">
      <option value="c">C/C++</option>
      <option value="cs">C#</option>
      <option>Java</option>
    </select>
  </div>
  <div class="field" id="divSubir">
    <fieldset>
      <legend><%= f.label :code, "#{t :attempt_source}" %></legend>
      <br />
      <%= f.file_field :code %>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit "#{t :submit}" %>
  </div>
<% end %>
