<%= form_for([@problem, @problem.attempts.build]) do |f| %>
  <div class="row">
    <%=t :attempt_language %>
    <br />
    <div class="three columns">
      <%= f.select :command_id, Command.all.map{|c| [c.name, c.id]} %>
    </div>
  </div>
  <br />
  <div class="row" id="divSubir">
    <div id="mainEditor"></div>
    <%= f.text_area :code, :style=>"border:none;box-shadow:none;" %>
  </div>
  <div class="row">
    <%= f.submit "#{t :submit}", class: "button right" %>
  </div>
<% end %>
