<h3><%=t :attempt_listing %></h3>
<hr/>
<div id="table_container">
  <table class="data_table">
      <thead>
      <tr>
        <th><%=t :attempt_problem %></th>
        <th><%=t :attempt_number %></th>
        <th><span class="hide-for-medium-down"><%=t :attempt_outcome %></span></th>
        <th><%=t :attempt_accepted%></th>
      </tr>
      </thead>
      <tbody>
    <% @attempts.each do |attempt| %>
      <tr onclick="location.href='<%= problem_path(attempt.problem) %>'" style='cursor:pointer'>
        <td><%= attempt.problem.title %></td>
        <td><%= @times_attempted[attempt.problem_id] %></td>
        <td>
          <span class="hide-for-medium-down"><%=t "outcome_#{attempt.state.to_s}" %></span>
        </td>
        <td>
          <% if current_user.attempts.accepted_for_problem?(attempt.problem) %>
            <i class="icon-ok-sign icon-2x icono-accept"></i>
          <% else %>
            <i class="icon-remove-sign icon-2x icono-fail"></i>
          <% end%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
