<script type="text/javascript">
$(document).ready(function() {
    oTable = $('.data_table').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
	"bDestroy":true,
	 "oLanguage": {
		<% if  "#{t :locale}" == "en" %>
               	    	"sUrl":     "/assets/dataTables.english.txt"
		<% else %>
			"sUrl":     "/assets/dataTables.spanish.txt"
		<% end %>
            }
    });
    $('.data_table').css('width', '');
} );
</script>


<h3><%=t :attempt_listing %></h3>
<hr/>
<div id="table_container">
  <table class="data_table">
      <thead>
      <tr>
        <th><%=t :attempt_problem %></th>
        <th><%=t :attempt_number %></th>
        <th><%=t :attempt_outcome %></th>
      </tr>
      </thead>
      <tbody>
    <% @attempts.each do |attempt| %>
      <tr onclick="location.href='<%= problem_path(attempt['problem_id']) %>'" style='cursor:pointer'>
        <td><%= attempt["title"] %></td>
        <td><%= attempt["times_attempted"] %></td>
        <td><%= attempt["outcome"] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
