<h1>Listing Users</h1>

<div id="table_container">
  <table class="data_table">
    <thead>
      <tr>
        <th>Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td onclick="location.href='<%= admin_user_path(user) %>'" style="cursor:pointer"><%= user.num.capitalize %></td>
          <td><%= user.name %></td>
          <td><%= user.lastname %></td>
          <td><%= link_to 'Delete', [:admin, user], confirm: 'Are you sure?', method: :delete, class: "button tiny round" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />

<%= link_to 'New User', new_admin_user_path, class: "button success" %>
