<div class="row">
  <div class="panel">
      <div>
        Name: <%= @user.name %> <%= @user.lastname %>
      </div>
      <div>
        Id number: <%= @user.num %>
      </div>
      <div>
        email: <%= @user.email %>
      </div>
  </div>
</div>

<%= link_to 'Edit', edit_admin_user_path(@user), class: "button tiny round" %> |
<%= link_to 'Back', :back, class: "button tiny round" %>
