<!DOCTYPE html>
<html>
<head>
  <title>SEPAP | Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="hmenu">
    <ul>
      <li><%= link_to 'SEPAP Admin', admin_problems_path(locale: "en") %></li>
      <li><%= link_to 'Assignments', admin_assignments_path(locale: "en") %></li>
      <li><%= link_to 'Groups', admin_groups_path(locale: "en") %></li>
      <li><%= link_to 'Problems', admin_problems_path(locale: "en") %></li>
      <li><%= link_to 'Subjects', admin_subjects_path(locale: "en") %></li>
      <li><%= link_to 'Topics', admin_topics_path(locale: "en") %></li>
      <li><%= link_to 'Users', admin_users_path(locale: "en") %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
    </ul>
  </div>
  <%if notice %>
    <div id="notice"><%= notice %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
