<!DOCTYPE html>
<html>
<head>
  <title>SEPAP</title>
  <%= stylesheet_link_tag    '/stylesheets/ace-rails.css' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="hmenu">
    <ul>
      <li><%= link_to 'SEPAP', root_path %></li>
        <li><%= link_to "Admin", admin_dashboard_path if current_user.try(:teacher?) %></li>
      <div class="right">
        <ul>
          <li><%= link_to "Problem list", problems_path %></li>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </div>
    </ul>
  </div>
  <p id="notice"><%= notice %></p>
  <%= yield %>
</body>
</html>
