<!DOCTYPE html>
<html>
<head>
  <title>Sepap2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="hmenu">
    <ul>
      <%= render 'devise/menu/registration_items' %>
      <%= link_to "Admin", admin_dashboard_path if current_user.try(:teacher?) %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
